p:first-child {font-weight: bold;} /*esto no aplica porque el primer hijo de section es h1*/

body { background-color:#000; color: #fff  }

p:first-of-type {font-weight: bold;}/*este si aplica el mismo nombre lo dice*/

h2 + p {font-weight: bold;} /*solo aplica al inmediatamente contiguo
							osea solo al primer parrajo despues de h2*/

h3 ~ p {font-weight: bold;} /*no tiene que ser contiguo a h3
							solo tiene que ser hermanos*/
a {
	text-decoration: none;
}

.no-style{
	list-style-type: none;
	margin: 0;
	padding:0;
}

.vertical a{
	display: block;
	width:120px;
	color:#fff;
	background-color: #98bf21;
	text-align: center;
	padding: 4px;
}

.vertical a:hover, .vertical a:active{
	background-color: #7a991a;
}

.horizontal li {
	float: left;
	margin: 0;
	padding: 1px;
}

.horizontal a{
	margin: 0;
	color:#fff;
	background-color: #98bf21;
}

.horizontal a:hover, .horizontal a:active{
	background-color: #7a991a;
}