body{
	width:960px; /*ancho fijo 960=192+384+384*/
}		/*como es fijo cuando la resolucion de pantalla es inferior aparece la barra de desplazamiento horizontal*/
/*cuando la resolucion de pantalla es superior se desperdicia espacio*/
h1, #pie{
	text-align: center;
}

#menu, #contenido,#info{
	float: left;
	padding: 0;
	margin: 0;
}

#menu{
	width: 192px;
}

#contenido, #info{
	width:384px;
}

#pie{
	clear:both;
}